<!DOCTYPE html>
<html>
  <head>
    <title>Banana Kick: Error Stack</title>
    <link rel='stylesheet' href='/css/err.css' />
  </head>
  <body>
    <h1>Error page</h1>
    <p>Error message: <%= message %></p>
    <p>
    	Error Stack:
    	<pre><%= error.stack %></pre>
    </p>
  </body>
</html>