doctype html
html
	head
		title Error: #{title}
		link(rel='stylesheet', href='/css/err.css')
	body
		h1
			| Error page
		p
			| Error message: #{message}
		p
			| Error Stack:
			pre
				| #{error.stack}